.sidebar {
  background-color: #f8f9fb;
  float: left;
  width: 250px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  align-items: left;
}
.scenarij {
  color: #4f46e5;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  margin-left: 20px;
}
.stavke {
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  display: grid;
  padding: 20px;
}
.body {
  background-color: #f5f6fa;
}

.aktivna {
  color: #4f46e5;
  background-color: #d5dcf5;
  border-radius: 10px;
  padding: 4px;
  margin-left: -20px;
}

.tekst {
  margin-left: 20px;
}

.linija {
  margin-top: 10px;
  width: 200px;
  border: 1px solid #e2e8f0;
}

.dno {
  background-color: #ebecee;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.profil {
  background-color: #333333;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u {
  color: white;
  font-family: "Inter", sans-serif;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  line-height: 1.1;
}
.ime {
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  color: #333333;
  font-weight: 600;
  margin: 0;
}
.member {
  font-family: "Inter", sans-serif;
  color: #666666;
  font-size: 14px;
  margin: 0;
}
