.sidebar {
  background-color: #f8f9fb;
  float: left;
  width: 250px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  align-items: left;
}
.scenarij {
  color: #4f46e5;
  font-size: 26px;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-left: 20px;
}
.stavke {
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #f5f6fa;
}

.aktivna {
  color: #4f46e5;
  background-color: #d5dcf5;
  border-radius: 10px;
  padding: 3px;
  margin-left: -20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.linija {
  margin-top: 10px;
  width: 200px;
  border: 1px solid #e2e8f0;
}

.dno {
  background-color: #ebecee;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.profil {
  background-color: #333333;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.profil .u {
  color: white;
  font-family: "Inter", sans-serif;
}

.cont {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 2px;
}
.ime {
  font-family: "Inter", sans-serif;
  color: #333333;
  margin: 0;
  font-size: 16px;
}
.member {
  font-family: "Inter", sans-serif;
  color: #6b7280;
  font-size: 14px;

  margin: 2px 0 0 0;
}
.img {
  filter: invert(26%) sepia(64%) saturate(5475%) hue-rotate(241deg)
    brightness(93%) contrast(98%);
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.img2 {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.neaktivna {
  border-radius: 10px;
  padding: 3px;
  margin-left: -20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.tekst2 {
  font-family: "Inter", sans-serif;
  color: #6b7280;
}

.naslov {
  font-family: "Inter", sans-serif;
}

.zaglavlje {
  margin-left: 300px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-right: 60px;
}
.pretraga {
  width: 150px;
  height: 50px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}
.dugme {
  width: 150px;
  height: 50px;
  background-color: #5b3fff;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.zaglavljedesno {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  float: right;
}

.grid-container {
  font-family: "Poppins", sans-serif;
  display: grid;
  gap: 20px;
  padding: 10px;
  margin-left: 288px;
  margin-right: 48px;
  margin-top: 20px;
}
.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
  color: #333;
  width: 450px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

.prvakartica {
  color: #6b7280;
}
.dio {
  margin-top: 30px;
}

.firstcard {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
  color: #333;
  border: 1px solid #4f46e5;
  width: 450px;
}

h1 {
  margin: 0;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
