.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 240, 238);
  max-width: 840px;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linija {
  border: 2px solid rgb(143, 143, 244);
  width: 600px;
  margin-left: 20px;
  margin-right: 20px;
}

.naslov {
  text-align: center;
}

.podaci {
  text-align: left;
  background-color: rgb(208, 208, 245);
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 560px;
  margin-bottom: 20px;
  text-wrap: wrap;
}

.podnaslov {
  color: rgb(64, 64, 196);
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.form-red {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

label {
  width: 150px;
  text-align: left;
}

.input-polje {
  width: 400px;
  border-radius: 5px;
  height: 30px;
  border: 2px solid rgb(120, 134, 220);
}

.podaci2 {
  text-align: left;
  background-color: rgb(250, 202, 202);
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 560px;
  margin-bottom: 20px;
  text-wrap: wrap;
}
.podnaslov2 {
  color: rgb(244, 44, 44);
  font-size: 20px;
}
