.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 248, 248, 0.841);
  max-width: 840px;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.podnaslov,
.podnaslov2,
.podnaslov3 {
  margin-top: 0;
}

.linija {
  border: 2px solid rgb(143, 143, 244);
  width: 600px;
  margin-left: 20px;
  margin-right: 20px;
}

.naslov {
  text-align: center;
}

.podaci {
  text-align: left;
  background-color: rgb(240, 240, 253);
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 560px;
  margin-bottom: 20px;
  text-wrap: wrap;
}

.podnaslov {
  color: rgb(64, 64, 196);
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-red {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

label {
  width: 150px;
  text-align: left;
}

.input-polje {
  width: 400px;
  border-radius: 5px;
  height: 30px;
  border: 2px solid rgb(120, 134, 220);
}

.podaci2 {
  text-align: left;
  background-color: rgb(250, 227, 227);
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 560px;
  margin-bottom: 20px;
  text-wrap: wrap;
}
.podnaslov2 {
  color: rgb(244, 44, 44);
  font-size: 20px;
}

.podaci3 {
  text-align: left;
  background-color: rgb(233, 254, 250);
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 560px;
  margin-bottom: 20px;
  text-wrap: wrap;
}

.podnaslov3 {
  color: rgb(18, 162, 93);
  font-size: 20px;
}

.poredak {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

#frekvencija {
  border-radius: 5px;
  border-color: aquamarine;
  border-width: 2px;
  width: 400px;
  height: 35px;
}

.labela {
  margin-right: 80px;
  margin-bottom: 10px;
}
.dugme {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #5b3fff;
  color: white;
  width: 600px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  border-width: 1px;
  border-color: #5b3fff;
}

.lab {
  margin-right: 70px;
}

@media (max-width: 749px) {
  .container {
    width: 90%;
  }
  .podaci {
    width: 80%;
  }
  .podaci2 {
    width: 80%;
  }

  .podaci3 {
    width: 80%;
  }
  .linija {
    width: 90%;
  }
  .form-red {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
  }

  .dugme {
    width: 85%;
  }

  .input-polje {
    width: 100%;
  }
  #frekvencija {
    width: 100%;
    margin-top: 5px;
  }

  .naslov {
    font-size: 24px;
  }

  .tekst {
    width: 80%;
  }

  .radio-grupa {
    gap: 30px;
    text-wrap: wrap;
  }
  .lab {
    display: block;
    margin-right: 0;
    margin-bottom: 8px;
    white-space: nowrap;
  }
}
