.zaglavlje {
  position: sticky;
  background-color: rgb(250, 249, 249);
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0;
  padding: 0 20px;
  border: 1px solid #dfdfdf;
  z-index: 100;
  box-sizing: border-box;
}

.strelica {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #ededed;
}

.opcije {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.opcija {
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-family: "Inter", sans-serif;
}

.dugme {
  margin-left: auto;
  margin-right: 20px;
  background-color: #28a745;
  border-radius: 10px;
  color: white;
  height: 40px;
  width: 80px;
  border: none;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
  gap: 20px;
  margin-bottom: 0;
  height: 100vh;
  border: 1px solid rgb(203, 202, 202);
}

.lista {
  list-style: decimal;
  font-family: "Inter", sans-serif;
}
.lista li {
  margin-bottom: 15px;
}

.cont {
  background-color: #e9eeff;
  border-radius: 12px;
  padding: 5px;
  margin-left: -30px;
  border-left: 5px solid #5b3fff;
}
.p {
  margin-left: 20px;
  padding: 0;
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 14px;
}
.p1 {
  margin-left: 5px;
}
.pp1 {
  margin-left: -10px;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 20px;
  gap: 10px;
  padding-left: 20px;
}

.cont1 {
  padding: 5px;
  margin-left: -10px;
}
.pp {
  margin-left: 6px;
  padding: 0;
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 14px;
}

.sadrzaj {
  font-family: "Courier Prime", "Courier New", monospace;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  flex: 1;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 200px;
  line-height: 1.5em;
  text-align: left;
  font-weight: bold;
  color: rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.naslov {
  color: #d68a00;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.5em;
  letter-spacing: 0.05em;
  width: 100%;
  font-size: 24px;
}

.sadrzaj p {
  text-indent: 320px;
  margin-top: 0;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 750px) {
  body {
    flex-direction: column;
  }

  .zaglavlje {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .zaglavlje h1 {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  .opcije {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
  }

  .dugme {
    margin: 10px 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(203, 202, 202);
    border-right: none;
  }

  * {
    box-sizing: border-box;
  }

  .sadrzaj {
    margin: 20px;
    padding: 40px;
    text-indent: 0;
  }

  .sadrzaj p {
    text-indent: 40px;
  }
}
